a {
  text-decoration: none;
  color: black;
}

.pokemon-list {
  margin: 0 auto;
}

.pokemon-list__page-num {
  font-weight: 600;
  font-size: 1.5em;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-list__load-more {
  background-color: rgb(58, 111, 94);
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 1.4em;
  margin-bottom: 20px;
  cursor: pointer;
  width: 240px;
}

.promo-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

@media  (max-width: 440px) {
  .promo-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.promo-card {
  border : 2px solid #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
 

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}



.single-pokemon {
  font-family: arial, sans-serif;
  border: 1px solid green;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: black;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.single-pokemon__name {
  text-transform: capitalize;
}

.black-background {
  background-color: black;
  color: white;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.pokemon-detail-view__info {
  width: 600px;
}

.pokemon-detail-view__name {
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  text-transform: capitalize;
}

.pokemon-detail-view__image {
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.pokemon-stats {
  display: flex;
  margin: 5px 0;
}

.stat-bar {
  width: 60px;
  height: 20px;
  background-color: green;
}


.pets-list__container {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
}
