.promo-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 800px; 
  margin: 0 auto;
}

.promo-card {
  border : 2px solid #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.single-pokemon {
  font-family: arial, sans-serif;
  border: 1px solid green;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.single-pokemon__name {
  text-transform: capitalize;
}

.black-background {
  background-color: black;
  color: white;
}