*{
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.pokemon-list {
  width: 800px; 
  margin: 0 auto;


    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__page-number{
      margin: 0;
      align-self: center;
    }

    &__load-more {
      background-color: rgb(58, 111, 94);
      color: white;
      padding: 20px;
      border-radius: 10px;
      border: none;
      font-size: 1.4em;
      margin: 20px 0;
      cursor: pointer;
    }
}



.promo-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.promo-card {
  border : 2px solid #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

a {
  text-decoration: none;
}

.single-pokemon {
  border: 1px solid green;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: black;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  &__name {
    text-transform: capitalize;
  }
}


.black-background {
  background-color: black;
  color: white;
}