.pokemon-app {
  width: 800px; 
  margin: 0 auto;
}

.pokemon-app__load-more {
  background-color: rgb(58, 111, 94);
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 1.4em;
  margin: 20px 0;
  cursor: pointer;
}

.promo-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.promo-card {
  border : 2px solid #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.single-pokemon {
  font-family: arial, sans-serif;
  border: 1px solid green;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.single-pokemon__name {
  text-transform: capitalize;
}

.black-background {
  background-color: black;
  color: white;
}

.pokemon-app__header {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 20px;
    font-weight: 600;
    align-self: center;
  }
}

.pokemon-app__pages {
  display: flex;
  

  button {
    height: fit-content;
    align-self: center;
  }
}